In [1]:
from scraping_player_data import *

In [33]:
scrape = ScrapePlayerData()
links = scrape.collect_player_links()
df_list = []
names_list = []


for link in links[0:100]:
    df = scrape.scrape_statistic_tables(link)
    name = scrape.scrape_player_name(link)
    names_list.append(name)
    df_list.append(df)
    time.sleep(.5)
df_list

c:\Users\bengu\Documents\mlb_player_projection\web_scraping\scraping_player_data.py:47: GuessedAtParserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 47 of the file c:\Users\bengu\Documents\mlb_player_projection\web_scraping\scraping_player_data.py. To get rid of this warning, pass the additional argument 'features="lxml"' to the BeautifulSoup constructor.

  new_soup = BeautifulSoup(str(comments))

[    level_0  Year Age_x Tm_x Lg_x  G_x PA_x   AB    R    H  ...  RAR   WAR  \
 0         0  1963    22  CIN   NL  157  696  623  101  170  ...   23   2.4
 1         1  1964    23  CIN   NL  136  558  516   64  139  ...   12   1.3
 2         2  1965    24  CIN   NL  162  757  670  117  209  ...   53   5.6
 3         3  1966    25  CIN   NL  156  701  654   97  205  ...   38   4.1
 4         4  1967    26  CIN   NL  148  650  585   86  176  ...   43   4.8
 5         5  1968    27  CIN   NL  149  692  626   94  210  ...   46   5.5
 6         6  1969    28  CIN   NL  156  731  627  120  218  ...   61   6.6
 7         7  1970    29  CIN   NL  159  730  649  120  205  ...   46   4.8
 8         8  1971    30  CIN   NL  160  709  632   86  192  ...   46   5.1
 9         9  1972    31  CIN   NL  154  731  645  107  198  ...   55   6.1
 10       10  1973    32  CIN   NL  160  752  680  115  230  ...   80   8.3
 11       11  1974    33  CIN   NL  163  771  652  110  185  ...   58   5.9
 12       12  1975    34  CIN   NL  162  764  662  112  210  ...   42   4.1
 13       13  1976    35  CIN   NL  162  759  665  130  215  ...   67   7.0
 14       14  1977    36  CIN   NL  162  732  655   95  204  ...   31   2.9
 15       15  1978    37  CIN   NL  159  731  655  103  198  ...   33   3.4
 16       16  1979    38  PHI   NL  163  732  628   90  208  ...   30   3.1
 17       17  1980    39  PHI   NL  162  739  655   95  185  ...    0  -0.4
 18       18  1981    40  PHI   NL  107  486  431   73  140  ...   16   1.7
 19       19  1982    41  PHI   NL  162  720  634   80  172  ...   -7  -1.1
 20       20  1983    42  PHI   NL  151  555  493   52  121  ...  -16  -2.1
 21       21  1984    43  TOT   NL  121  421  374   43  107  ...    4   0.3
 22       22  1985    44  CIN   NL  119  501  405   60  107  ...    7   0.6

    waaWL% 162WL%  oWAR  dWAR oRAR    Salary    Pos_y      Awards_y
 0    .499   .499   3.4  -0.4   31       NaN     *4/7         RoY-1
 1    .493   .494   1.3   0.3   14       NaN      *4H           NaN
 2    .519   .519   6.5  -0.4   61       NaN       *4      AS,MVP-6
 3    .510   .510   4.6  -0.1   44       NaN      *45        MVP-10
 4    .516   .514   4.4  -0.3   41   $46,000    *74/8     AS,MVP-10
 5    .521   .519   5.7  -1.1   50   $55,500  *9/843H      AS,MVP-2
 6    .527   .526   7.1  -1.1   67   $85,000    *98/4   AS,MVP-4,GG
 7    .515   .515   4.3  -0.3   43  $105,000   *9/87H   AS,MVP-7,GG
 8    .517   .516   4.4  -0.1   41  $107,500    *9/8H     AS,MVP-24
 9    .526   .524   4.4   0.7   43  $107,500       *7        MVP-12
 10   .540   .539   6.1   1.4   60  $118,000     *7/H      AS,MVP-1
 11   .524   .524   3.6   1.5   38  $162,500       *7            AS
 12   .513   .513   5.3  -1.0   53  $160,000      *57      AS,MVP-5
 13   .530   .530   6.7   0.6   65  $188,000    *5/H9      AS,MVP-4
 14   .505   .505   4.0  -0.7   41  $375,000     *5/H     AS,MVP-15
 15   .508   .508   4.5  -0.8   44  $375,000    *5/73     AS,MVP-11
 16   .505   .505   4.1  -2.0   40  $905,000   *3/54H     AS,MVP-15
 17   .484   .484   0.7  -2.1   10  $805,000     *3/H            AS
 18   .501   .501   2.1  -1.2   21  $705,000       *3  AS,MVP-10,SS
 19   .479   .479  -0.5  -1.6   -1  $910,000       *3            AS
 20   .474   .476  -1.3  -1.7   -8       NaN   *39H/7           NaN
 21   .492   .495   0.1  -0.2    3  $700,000      3H7           NaN
 22   .490   .493   1.3  -1.4   14  $358,858     *3/H            AS

 [23 rows x 72 columns],
     level_0  Year Age_x Tm_x Lg_x  G_x PA_x   AB    R    H  ... RAR  WAR  \
 0         0  1954    20  MLN   NL  122  509  468   58  131  ...  16  1.4
 1         1  1955    21  MLN   NL  153  665  602  105  189  ...  65  6.2
 2         2  1956    22  MLN   NL  153  660  609  106  200  ...  72  7.2
 3         3  1957    23  MLN   NL  151  675  615  118  198  ...  80  8.0
 4         4  1958    24  MLN   NL  153  664  601  109  196  ...  72  7.3
 5         5  1959    25  MLN   NL  154  693  629  116  223  ...  85  8.6
 6         6  1960    26  MLN   NL  153  664  590  102  172  ...  77  8.0
 7         7  1961    27  MLN   NL  155  671  603  115  197  ...  94  9.4
 8         8  1962    28  MLN   NL  156  667  592  127  191  ...  84  8.5
 9         9  1963    29  MLN   NL  161  714  631  121  201  ...  82  9.1
 10       10  1964    30  MLN   NL  145  634  570  103  187  ...  62  6.8
 11       11  1965    31  MLN   NL  150  639  570  109  181  ...  73  7.9
 12       12  1966    32  ATL   NL  158  688  603  117  168  ...  72  7.9
 13       13  1967    33  ATL   NL  155  669  600  113  184  ...  76  8.5
 14       14  1968    34  ATL   NL  160  676  606   84  174  ...  56  6.8
 15       15  1969    35  ATL   NL  147  639  547  100  164  ...  74  8.1
 16       16  1970    36  ATL   NL  150  598  516  103  154  ...  49  5.0
 17       17  1971    37  ATL   NL  139  573  495   95  162  ...  66  7.2
 18       18  1972    38  ATL   NL  129  545  449   75  119  ...  36  3.9
 19       19  1973    39  ATL   NL  120  465  392   84  118  ...  46  4.7
 20       20  1974    40  ATL   NL  112  382  340   47   91  ...  21  2.1
 21       21  1975    41  MIL   AL  137  543  465   45  109  ...   2  0.1

    waaWL% 162WL% oWAR  dWAR oRAR    Salary   Pos_y         Awards_y
 0    .497   .498  1.6  -0.7   17    $6,000   *79/H            RoY-4
 1    .527   .525  5.8   0.0   58   $10,000  *974/H         AS,MVP-9
 2    .533   .531  6.0   0.6   57   $17,500    *9/H         AS,MVP-3
 3    .538   .535  7.8  -0.1   75   $22,500   *98/H         AS,MVP-1
 4    .532   .531  6.6   0.2   64   $35,000     *98      AS,MVP-3,GG
 5    .540   .538  9.1  -1.1   89   $35,000   *98/5   AS,AS,MVP-3,GG
 6    .537   .535  6.5   0.8   63   $45,000   *9/84  AS,AS,MVP-11,GG
 7    .545   .543  7.1   2.0   71   $45,000  *89/5H      AS,AS,MVP-8
 8    .538   .537  7.9   0.3   78   $47,500  *89/H3      AS,AS,MVP-6
 9    .540   .539  9.6  -1.3   86   $53,000      *9         AS,MVP-3
 10   .530   .527  6.3  -0.1   59   $61,000   *94/H        AS,MVP-14
 11   .536   .534  6.8   0.3   64   $63,500    *9/H         AS,MVP-7
 12   .533   .533  6.3   0.8   59   $70,000  *9/84H         AS,MVP-8
 13   .538   .537  8.2  -0.5   75   $92,500  *98/H4         AS,MVP-5
 14   .526   .525  5.3   0.4   46   $92,500   *93/H        AS,MVP-12
 15   .539   .536  7.2   0.1   68   $92,500   *9/3H         AS,MVP-3
 16   .519   .518  4.9  -0.6   49  $125,000    *9H3        AS,MVP-17
 17   .537   .532  7.8  -1.4   72  $125,000     39H         AS,MVP-3
 18   .516   .513  4.3  -1.2   40  $200,000   *39/H        AS,MVP-16
 19   .527   .520  4.9  -0.8   47  $200,000     79H        AS,MVP-12
 20   .508   .506  2.1  -0.4   21  $220,000      7H               AS
 21   .486   .488  0.2  -1.3    3  $240,000   *D/H7               AS

 [22 rows x 72 columns],
     level_0  Year Age_x Tm_x Lg_x  G_x PA_x   AB    R    H  ...  RAR   WAR  \
 0         0  1961    21  BOS   AL  148  643  583   71  155  ...    1  -0.3
 1         1  1962    22  BOS   AL  160  719  646   99  191  ...   44   4.2
 2         2  1963    23  BOS   AL  151  668  570   91  183  ...   64   6.6
 3         3  1964    24  BOS   AL  151  646  567   77  164  ...   40   3.9
 4         4  1965    25  BOS   AL  133  571  494   78  154  ...   47   5.0
 5         5  1966    26  BOS   AL  160  680  594   81  165  ...   52   5.5
 6         6  1967    27  BOS   AL  161  680  579  112  189  ...  112  12.5
 7         7  1968    28  BOS   AL  157  664  539   90  162  ...   90  10.5
 8         8  1969    29  BOS   AL  162  707  603   96  154  ...   53   5.5
 9         9  1970    30  BOS   AL  161  698  566  125  186  ...   91   9.5
 10       10  1971    31  BOS   AL  148  620  508   75  129  ...   38   4.0
 11       11  1972    32  BOS   AL  125  535  455   70  120  ...   25   2.7
 12       12  1973    33  BOS   AL  152  652  540   82  160  ...   52   5.5
 13       13  1974    34  BOS   AL  148  633  515   93  155  ...   34   3.6
 14       14  1975    35  BOS   AL  149  634  543   91  146  ...   28   2.8
 15       15  1976    36  BOS   AL  155  636  546   71  146  ...   29   3.0
 16       16  1977    37  BOS   AL  150  643  558   99  165  ...   51   5.2
 17       17  1978    38  BOS   AL  144  611  523   70  145  ...   20   2.0
 18       18  1979    39  BOS   AL  147  590  518   69  140  ...   24   2.4
 19       19  1980    40  BOS   AL  105  412  364   49  100  ...    9   0.8
 20       20  1981    41  BOS   AL   91  390  338   36   83  ...    7   0.5
 21       21  1982    42  BOS   AL  131  523  459   53  126  ...   14   1.3

    waaWL% 162WL%  oWAR  dWAR oRAR    Salary    Pos_y      Awards_y
 0    .487   .488  -0.2  -0.8   -1   $10,000     *7/H           NaN
 1    .515   .515   2.5   1.0   24   $15,000       *7        MVP-18
 2    .532   .530   5.3   0.4   51   $23,000     *7/8   AS,MVP-6,GG
 3    .515   .514   3.3   0.5   32   $30,000   *87/5H           NaN
 4    .525   .521   5.3  -1.0   49   $31,000   *7/8H9  AS,MVP-10,GG
 5    .522   .522   3.2   1.5   30   $50,000    *7/H8     AS,MVP-28
 6    .565   .565   9.9   1.7   89   $50,000    *7/8H   AS,MVP-1,GG
 7    .554   .553   7.6   2.0   66  $100,000   *7/38H   AS,MVP-9,GG
 8    .520   .520   4.3   0.4   40  $115,000    *73/8  AS,MVP-18,GG
 9    .545   .545   8.9  -0.3   84  $125,000    37/8H      AS,MVP-4
 10   .513   .512   2.5   0.8   24  $166,667     *7/H         AS,GG
 11   .507   .505   2.5  -0.5   22  $166,667    73/8H            AS
 12   .520   .519   4.7   0.3   45  $166,667    357/H     AS,MVP-19
 13   .509   .508   4.2  -1.3   39  $165,000     37/D     AS,MVP-18
 14   .504   .503   2.1  -0.1   21  $175,000   *3/7DH     AS,MVP-30
 15   .504   .504   2.4  -0.3   23       NaN    37D/H     AS,MVP-14
 16   .519   .518   4.1   0.6   40  $200,000   *7/3D9  AS,MVP-17,GG
 17   .499   .499   1.8  -0.6   18       NaN   73D/8H     AS,MVP-18
 18   .502   .502   1.4   0.1   14  $375,000   D37/H8            AS
 19   .495   .497   1.1  -1.0   12       NaN  D73/H98           NaN
 20   .492   .496   0.4  -0.5    5       NaN     D3/H           NaN
 21   .497   .497   1.2  -0.8   12       NaN    DH3/8            AS

 [22 rows x 72 columns],
     level_0  Year Age_x     Tm_x Lg_x  G_x PA_x   AB    R    H  ...  RAR  \
 0         0  1981    20  BAL-min  AAA  114  507  437   74  126  ...   -4
 1         1  1982    21      BAL   AL  160  655  598   90  158  ...   47
 2         2  1983    22      BAL   AL  162  726  663  121  211  ...   81
 3         3  1984    23      BAL   AL  162  716  641  103  195  ...   99
 4         4  1985    24      BAL   AL  161  718  642  116  181  ...   56
 5         5  1986    25      BAL   AL  162  707  627   98  177  ...   67
 6         6  1987    26      BAL   AL  162  717  624   97  157  ...   34
 7         7  1988    27      BAL   AL  161  689  575   87  152  ...   57
 8         8  1989    28      BAL   AL  162  712  646   80  166  ...   64
 9         9  1990    29      BAL   AL  161  695  600   78  150  ...   73
 10       10  1991    30      BAL   AL  162  717  650   99  210  ...  114
 11       11  1992    31      BAL   AL  162  715  637   73  160  ...   40
 12       12  1993    32      BAL   AL  162  718  641   87  165  ...   39
 13       13  1994    33      BAL   AL  112  484  444   71  140  ...   43
 14       14  1995    34      BAL   AL  144  613  550   71  144  ...   41
 15       15  1996    35      BAL   AL  163  707  640   94  178  ...   39
 16       16  1997    36      BAL   AL  162  686  615   79  166  ...   18
 17       17  1998    37      BAL   AL  161  659  601   65  163  ...   20
 18       18  1999    38      BAL   AL   86  354  332   51  113  ...   29
 19       19  2000    39      BAL   AL   83  339  309   43   79  ...   14

      WAR waaWL% 162WL%  oWAR dWAR oRAR      Salary  Pos_y        Awards_y
 0   -0.5   .474   .496  -0.5  0.1   -4         NaN  6H/5D             NaN
 1    4.7   .516   .516   4.1  1.4   41         NaN   65/H    MVP-30,RoY-1
 2    8.2   .536   .536   7.1  2.3   70    $180,000     *6     AS,MVP-1,SS
 3   10.0   .548   .548   7.7  3.6   76    $700,000     *6    AS,MVP-27,SS
 4    5.6   .521   .521   5.6  1.1   56    $800,000     *6    AS,MVP-17,SS
 5    6.7   .527   .527   5.1  2.7   51  $1,150,000     *6           AS,SS
 6    3.3   .506   .506   3.3  1.1   34  $1,350,000     *6              AS
 7    5.7   .521   .521   6.3  0.6   62  $1,700,000     *6              AS
 8    6.7   .526   .526   4.4  3.5   43  $2,466,667     *6     AS,MVP-3,SS
 9    7.5   .532   .532   5.3  3.4   51  $1,316,667     *6       AS,MVP-24
 10  11.5   .556   .556   9.2  3.5   92  $2,566,667     *6  AS,MVP-1,GG,SS
 11   4.1   .509   .509   2.8  2.5   28  $2,100,000     *6           AS,GG
 12   3.7   .508   .508   2.8  2.1   27  $5,200,000     *6    AS,MVP-19,SS
 13   4.0   .521   .514   2.5  2.3   26  $5,500,000     *6    AS,MVP-12,SS
 14   3.9   .512   .511   1.9  3.0   19  $6,700,000     *6       AS,MVP-19
 15   3.8   .507   .507   3.4  1.4   36  $6,650,000   *6/5              AS
 16   1.8   .495   .495   2.1  0.1   21  $6,850,000   *5/6              AS
 17   1.9   .497   .497   2.0  0.3   20  $6,400,000     *5              AS
 18   2.7   .516   .509   2.8  0.1   30  $6,500,000    5/H              AS
 19   1.4   .502   .501   0.9  0.5    9  $6,300,000     5D              AS

 [20 rows x 79 columns],
     level_0  Year Age_x Tm_x Lg_x  G_x PA_x   AB    R    H  ...  RAR   WAR  \
 0         0  1905    18  DET   AL   41  165  151   19   36  ...    2   0.2
 1         1  1906    19  DET   AL   98  394  358   45  113  ...   23   2.6
 2         2  1907    20  DET   AL  150  642  605   99  212  ...   60   6.8
 3         3  1908    21  DET   AL  150  635  580   88  188  ...   53   6.2
 4         4  1909    22  DET   AL  156  655  573  115  216  ...   86   9.9
 5         5  1910    23  DET   AL  140  598  508  106  194  ...   93  10.5
 6         6  1911    24  DET   AL  146  656  592  148  248  ...  108  10.7
 7         7  1912    25  DET   AL  140  610  553  119  226  ...   91   9.2
 8         8  1913    26  DET   AL  122  504  429   70  167  ...   68   7.4
 9         9  1914    27  DET   AL   98  415  345   69  127  ...   50   5.6
 10       10  1915    28  DET   AL  156  701  563  144  208  ...   89   9.5
 11       11  1916    29  DET   AL  145  637  543  113  201  ...   72   8.0
 12       12  1917    30  DET   AL  152  672  588  107  225  ...  100  11.3
 13       13  1918    31  DET   AL  111  474  421   81  161  ...   58   6.5
 14       14  1919    32  DET   AL  124  548  498   92  191  ...   52   5.5
 15       15  1920    33  DET   AL  112  495  428   87  143  ...   34   3.3
 16       16  1921    34  DET   AL  128  582  507  124  197  ...   71   6.8
 17       17  1922    35  DET   AL  137  613  526   99  211  ...   69   6.7
 18       18  1923    36  DET   AL  145  648  556  103  189  ...   56   5.6
 19       19  1924    37  DET   AL  155  727  625  114  211  ...   55   5.5
 20       20  1925    38  DET   AL  121  492  415   97  157  ...   62   5.7
 21       21  1926    39  DET   AL   79  273  233   48   79  ...   17   1.7
 22       22  1927    40  PHA   AL  133  574  490  104  175  ...   45   4.5

    waaWL% 162WL%  oWAR  dWAR oRAR   Salary      Pos_y Awards_y
 0    .489   .497   0.2  -0.2    2      NaN        8/7      NaN
 1    .510   .506   2.5  -0.4   23   $1,500      897/H      NaN
 2    .530   .527   6.5  -0.7   58   $2,400         *9      NaN
 3    .525   .524   6.5  -1.4   56   $4,500       *9/8      NaN
 4    .548   .547   9.6  -0.7   82   $4,500       *9/8      NaN
 5    .559   .551   9.7   0.4   85   $9,000      *89/H      NaN
 6    .557   .551  10.2   0.1  104   $9,000         *8    MVP-1
 7    .549   .542   8.9  -0.2   89   $9,000       *8/7    MVP-7
 8    .544   .533   7.6  -0.5   69  $11,333     *89/H4   MVP-20
 9    .540   .524   6.2  -0.8   54  $15,000        8/H   MVP-14
 10   .545   .543   9.9  -0.8   92  $20,000         *8      NaN
 11   .539   .535   8.7  -1.1   77  $20,000     *8/37H      NaN
 12   .558   .554  10.6   0.2   94  $20,000      *89/H      NaN
 13   .543   .529   6.7  -0.5   59  $20,000  *83/H1459      NaN
 14   .528   .521   6.1  -1.0   57  $20,000       *8/H      NaN
 15   .514   .509   3.8  -0.7   38  $20,000       *8/H      NaN
 16   .536   .529   6.7  -0.2   71  $25,000       *8/H      NaN
 17   .533   .528   7.2  -0.8   73  $35,000       *8/H      NaN
 18   .522   .519   5.0   0.2   50  $40,000       *8/H      NaN
 19   .518   .517   5.0   0.2   50  $40,000         *8      NaN
 20   .533   .524   5.8  -0.5   64  $40,000     *8H/91      NaN
 21   .508   .504   2.3  -0.8   23  $40,000      8H7/9      NaN
 22   .517   .514   4.4  -0.4   45  $50,000      *98/H      NaN

 [23 rows x 72 columns],
     level_0  Year Age_x Tm_x Lg_x  G_x PA_x   AB    R    H  ...  RAR   WAR  \
 0         0  2001    21  STL   NL  161  676  590  112  194  ...   69   6.6
 1         1  2002    22  STL   NL  157  675  590  118  185  ...   56   5.5
 2         2  2003    23  STL   NL  157  685  591  137  212  ...   90   8.7
 3         3  2004    24  STL   NL  154  692  592  133  196  ...   88   8.5
 4         4  2005    25  STL   NL  161  700  591  129  195  ...   85   8.4
 5         5  2006    26  STL   NL  143  634  535  119  177  ...   89   8.5
 6         6  2007    27  STL   NL  158  679  565   99  185  ...   90   8.7
 7         7  2008    28  STL   NL  148  641  524  100  187  ...   96   9.2
 8         8  2009    29  STL   NL  160  700  568  124  186  ...   98   9.7
 9         9  2010    30  STL   NL  159  700  587  115  183  ...   75   7.5
 10       10  2011    31  STL   NL  147  651  579  105  173  ...   51   5.3
 11       11  2012    32  LAA   AL  154  670  607   85  173  ...   48   4.8
 12       12  2013    33  LAA   AL   99  443  391   49  101  ...   15   1.6
 13       13  2014    34  LAA   AL  159  695  633   89  172  ...   36   3.9
 14       14  2015    35  LAA   AL  157  661  602   85  147  ...   28   3.0
 15       15  2016    36  LAA   AL  152  650  593   71  159  ...   15   1.5
 16       16  2017    37  LAA   AL  149  636  593   53  143  ...  -17  -1.8
 17       17  2018    38  LAA   AL  117  498  465   50  114  ...    2   0.3
 18       18  2019    39  LAA   AL  131  545  491   55  120  ...    2   0.3
 19       19  2020    40  LAA   AL   39  163  152   15   34  ...    1   0.0
 20       20  2021    41  TOT  MLB  109  296  275   29   65  ...   -7  -0.7

    waaWL% 162WL%  oWAR  dWAR oRAR       Salary      Pos_y           Awards_y
 0    .529   .529   6.1   0.0   63     $200,000    5379/DH  AS,MVP-4,RoY-1,SS
 1    .523   .522   6.0  -1.0   60     $600,000  *753/DH96              MVP-2
 2    .543   .542   8.6  -0.8   88     $900,000     *73/HD        AS,MVP-2,SS
 3    .543   .541   7.9  -0.3   81   $7,000,000      *3/DH        AS,MVP-3,SS
 4    .540   .540   7.1   0.4   72  $11,000,000       *3/H           AS,MVP-1
 5    .547   .541   6.8   0.9   72  $14,000,000       *3/H        AS,MVP-2,GG
 6    .543   .542   5.7   2.3   59  $12,937,813       *3/H           AS,MVP-9
 7    .551   .547   7.5   1.0   78  $13,870,949     *3/HD4        AS,MVP-1,SS
 8    .548   .548   7.9   0.8   81  $14,427,326      *3/HD        AS,MVP-1,SS
 9    .535   .535   6.7  -0.1   67  $14,595,953       *3/H     AS,MVP-2,GG,SS
 10   .523   .521   4.2   0.1   42  $14,508,395      *3/5H              MVP-5
 11   .516   .515   4.0  -0.1   39  $12,000,000      *3D/5             MVP-17
 12   .500   .500   1.3  -0.5   13  $16,000,000         D3                NaN
 13   .508   .508   3.2  -0.4   31  $23,000,000      *3D/5             MVP-17
 14   .503   .503   2.6  -0.7   25  $24,000,000       3D/5                 AS
 15   .494   .494   1.7  -1.5   17  $25,000,000      *D3/H                NaN
 16   .473   .475  -1.7  -1.4  -16  $26,000,000      *D/3H                NaN
 17   .486   .490   0.2  -0.7    2  $27,000,000         3D                NaN
 18   .487   .489   0.3  -0.7    3  $28,000,000      3D/H5                NaN

Continuous Categories

In [34]:
categories = ['Age_x', 'G_x', 'PA_x', 'AB', 'R','H', '2B', '3B', 'HR', 'RBI', 'SB', 'CS', 'BB', 'SO', 'BA', 'OBP','SLG', 'OPS', 'OPS+', 'TB', 'rOBA', 'Rbat+','BAbip', 'ISO', 'HR%', 'SO%', 'BB%', 'WPA', 'cWPA', 'RE24', 'RS%','SB%', 'XBT%', 'Rbat','Rbaser', 'Rdp', 'Rfield', 'Rpos', 'RAA', 'WAA', 'Rrep', 'RAR', 'WAR','waaWL%', '162WL%', 'oWAR', 'dWAR', 'oRAR']

In [35]:
pct_cats = ["HR%", "SO%", "BB%", "RS%", "SB%", "XBT%", "cWPA"]

In [36]:
from sklearn.linear_model import LinearRegression
from sklearn.cluster import KMeans
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler
import numpy as np

In [37]:
def clean_df(df, pct_cats):
    """
    param: df(pandas dataframe)
    param: pct_cats(list)
    This function returns a dataframe with percentage values cleaned if you correctly supply the percentage categories
    """
    for cat in pct_cats:
        try:
            for i in df[cat].index:
                try:
                    df[cat][i] = float(df[cat][i][:-1])
                except:
                    df[cat][i] = df[cat][i]
        except:
            pass
    return df

In [38]:
def flatten_df(df, categories):
    """
    param: df(pandas dataframe)
    param: categories(list)
    Will return a flattened DataFrame of length 1 with your desired categories. Removes categories that will not be found in older data.
    """
    try:
        df = df[categories]
    except:
        new_cats = categories.copy()
        new_cats.remove('WPA')
        new_cats.remove('cWPA')
        new_cats.remove('RE24')
        new_cats.remove('XBT%')
        df = df[new_cats]
    s = df.stack()
    s.index = [f"{x}_{y}" for x,y in s.index]
    s = s.to_frame('').T
    return s

In [39]:
edge = True
for df in df_list:
    if edge:
        df = clean_df(df, pct_cats)
        curr_df = flatten_df(df, categories)
        new_df = curr_df
        edge = False
    else:
        df = clean_df(df, pct_cats)
        curr_df = flatten_df(df, categories)
        new_df = new_df.append(curr_df)

c:\Users\bengu\anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
c:\Users\bengu\anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

In [131]:
scaler = StandardScaler()
columns = new_df.columns
scaled_data = scaler.fit_transform(new_df)
new_df = pd.DataFrame(
    scaled_data,
    columns=columns
)
new_df

,0_Age_x,0_G_x,0_PA_x,0_AB,0_R,0_H,0_2B,0_3B,0_HR,0_RBI,...,25_RAA,25_WAA,25_Rrep,25_RAR,25_WAR,25_waaWL%,25_162WL%,25_oWAR,25_dWAR,25_oRAR
0,0.967116,1.280685,1.420760,1.415575,1.263444,1.073065,0.524355,0.896669,-0.395013,-0.234683,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,-0.184213,0.579214,0.563610,0.624266,0.046417,0.434336,0.694049,0.227513,0.276126,0.665471,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.391452,1.100306,1.177824,1.211366,0.414355,0.827400,1.033438,0.227513,0.084372,1.019103,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,-0.184213,0.418878,0.554443,0.466004,0.499264,0.352448,1.033438,-0.218591,1.234895,0.858361,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,-1.335541,-1.044189,-1.013178,-0.994088,-1.057398,-1.121543,-1.087740,-1.110799,-0.874398,-1.070540,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,0.391452,1.360853,1.329086,1.247103,1.574776,1.466129,2.390991,-0.218591,2.577173,2.626521,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,0.391452,1.340811,1.283249,1.354312,0.697385,1.122198,0.863743,-0.664695,1.618403,1.276290,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,0.391452,0.599256,0.788211,0.716160,1.121929,0.811022,0.694049,0.896669,-0.778521,-0.106090,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,-0.759877,-0.583223,-0.431050,-0.509092,-0.208310,-0.417303,0.184967,-0.664695,0.276126,0.247542,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,-1.335541,0.278584,-0.101024,-0.008781,-0.236613,-0.302659,-0.408963,0.004461,-0.682644,-0.716908,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,0.391452,-0.743559,-1.063599,-1.045140,-1.340428,-1.072410,-1.257434,-0.887747,-0.682644,-1.166985,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,-0.184213,0.960012,0.921138,1.139893,-0.378127,1.629906,1.542520,2.011930,1.810157,-0.877650,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,-0.184213,-0.442928,-0.266037,-0.442724,0.272840,-0.400925,-0.663504,0.673617,-0.682644,-0.716908,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,-1.911205,-1.605365,-1.549470,-1.545452,-1.425337,-1.547362,-1.427128,-0.887747,-0.970275,-1.359876,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,0.967116,-0.322676,-0.261454,-0.330410,0.103023,-0.237149,0.184967,-0.218591,-0.682644,-0.234683,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,0.391452,0.639340,0.779043,0.894843,0.470961,0.614490,0.609202,-0.218591,-0.395013,-0.106090,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,-1.335541,0.038080,0.132744,0.042271,0.442658,0.205048,-0.154422,-0.441643,0.084372,0.601174,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,0.967116,-1.725617,-1.622809,-1.622030,-1.510246,-1.612873,-1.427128,-1.110799,-0.970275,-1.456321,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,-1.335541,0.418878,0.407765,0.409847,0.612476,0.467091,0.778896,1.342774,1.043141,1.147696,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,0.391452,0.939970,0.884468,0.833580,0.272840,0.843778,0.863743,-0.664695,0.180249,1.501328,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,1.542780,-0.623307,-0.563977,-0.529513,-0.519642,-0.384548,-0.069575,-0.218591,-0.778521,-0.298980,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,-0.184213,0.479004,0.371095,0.302637,0.272840,0.172293,-0.239269,-0.218591,-0.203259,0.504729,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,0.967116,0.699466,0.829464,0.792738,1.716291,1.253219,1.203132,0.227513,0.372003,1.083400,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,-0.759877,-1.364861,-1.210277,-1.152350,-0.774369,-1.072410,-0.663504,-0.441643,-0.970275,-1.038392,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24,0.967116,1.180475,0.902803,0.956105,0.357749,0.614490,0.015272,0.227513,-0.682644,0.247542,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,-0.759877,-1.725617,-1.677813,-1.667977,-1.595154,-1.662006,-1.596822,-1.110799,-0.970275,-1.520617,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,-1.335541,-1.264651,-1.631976,-1.622030,-1.340428,-1.596495,-1.596822,-1.110799,-0.874398,-1.488469,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,-0.184213,-1.344819,-1.301950,-1.325927,-1.340428,-1.416341,-1.427128,-1.110799,-0.970275,-1.295579,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,-0.184213,1.180475,1.292416,1.155209,1.857806,1.007554,0.694049,0.227513,2.673050,1.115548,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,-0.184213,-0.483012,-0.380629,-0.406988,-0.293219,-0.122505,0.863743,-0.441643,-0.011505,0.343987,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,-0.759877,-1.745659,-1.686980,-1.688398,-1.538549,-1.662006,-1.596822,-1.110799,-0.970275,-1.552766,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,3.845436,1.280685,1.613275,1.767835,1.999321,2.252257,1.287979,0.673617,-0.203259,0.665471,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,0.391452,0.418878,0.187748,0.190323,0.612476,0.499847,0.524355,-0.218591,1.714280,0.794064,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,0.391452,0.960012,0.604863,0.741686,-0.038492,0.336070,0.354661,0.227513,0.276126,0.022504,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,0.391452,1.140390,1.054065,0.945895,1.461564,0.892911,1.287979,2.681086,1.426649,0.986955,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,0.391452,-0.984063,-0.916921,-1.009404,-0.746066,-0.957766,-1.002893,-0.664695,-0.299136,-0.363276,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,-0.759877,0.679424,0.549859,0.557898,0.131326,0.254181,0.354661,-1.110799,0.563757,0.408284,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,0.967116,0.619298,0.696537,0.680423,1.121929,0.712756,0.100120,0.673617,2.289542,1.887109,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,0.391452,0.118248,0.192332,0.144376,0.725688,0.205048,0.694049,-0.441643,0.851387,0.890510,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,0.391452,0.358752,0.536108,0.394531,0.753991,0.663623,-0.324116,0.896669,0.563757,0.183246,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,-0.759877,1.140390,0.911970,0.854001,-0.378127,0.172293,-0.154422,-0.218591,-0.395013,-0.106090,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,-0.759877,0.619298,0.636949,0.660003,1.008717,0.958421,0.778896,0.673617,0.084372,0.922658,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,-0.759877,-0.863811,-0.907753,-0.871563,-1.142307,-0.925011,-1.002893,-0.664695,-0.682644,-0.652612,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,0.391452,-1.084273,-0.953590,-0.871563,-0.576248,-0.777612,-0.578657,0.450565,-0.586767,-0.202535,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,-0.759877,-1.244609,-1.159856,-1.116613,-0.887581,-1.072410,-1.342281,0.450565,-0.874398,-0.909799,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,-0.184213,-0.442928,-0.431050,-0.320199,-0.604551,-0.122505,-0.324116,-0.441643,-0.970275,-0.684760,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,1.542780,1.020138,1.063232,0.971421,1.263444,1.236842,1.372826,3.796347,-0.203259,0.986955,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,-1.911205,-1.164441,-1.489882,-1.458663,-1.397034,-1.334453,-1.427128,-1.110799,-0.970275,-1.424172,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,-0.184213,0.619298,0.526941,0.654897,-0.236613,0.270559,0.354661,1.342774,-0.490890,-0.041793,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,0.967116,-1.665491,-1.590723,-1.586293,-1.510246,-1.530985,-1.511975,-0.887747,-0.778521,-1.359876,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [132]:
no_na_df = new_df.dropna(axis=1)

In [133]:
model = KMeans(n_clusters=5)
model.fit(no_na_df)

KMeans(n_clusters=5)

In [134]:
predictions = model.predict(no_na_df)

In [135]:
name_pred = {}
for i in range(len(names_list)):
    name = names_list[i]
    pred = predictions[i]
    name_pred[name] = pred
index = [0]
predictions_df = pd.DataFrame(
    columns=["name", "group", "HR", "WAR", "G", "OPS"]
)

In [136]:
import hvplot.pandas
# predictions_df = predictions_df.swapaxes(0, 1)
predictions_df["name"] = names_list
predictions_df["group"] = predictions

In [137]:
wars = []
hrs = []
ops = []
gs = []
for i in range(len(df_list)):
    hrs.append(df_list[i]["HR"].astype("int").sum())
    wars.append(df_list[i]["WAR"].astype("float").sum())
    gs.append(df_list[i]["G_x"].astype("int").sum())
    ops.append(df_list[i]["OPS"].astype("float").mean())
predictions_df["HR"] = hrs
predictions_df["WAR"] = wars
predictions_df["G"] = gs
predictions_df["OPS"] = ops

In [1]:
predictions_df[predictions_df["group"] == 0]

NameError: name 'predictions_df' is not defined

In [130]:
predictions_df.hvplot.points(x="HR", y="group")

:Points   [HR,group]

In [125]:
war_group = predictions_df[["HR", "group"]]
war_group.corr()

             HR     group
HR     1.000000  0.568245
group  0.568245  1.000000